In [1]:
import pandas as pd
import os
import sys

In [2]:
current_directory = os.getcwd()

In [3]:
df = pd.read_csv(rf"{current_directory}\datasets\raw\movie.csv")
print(df.shape)

(1225978, 24)

In [4]:
print(df.columns)

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [5]:
df.drop(['vote_average', 'vote_count', 'status','backdrop_path','imdb_id', 'popularity', 'poster_path', 'tagline', 'keywords', 'spoken_languages'], axis=1, inplace=True)

In [6]:
# check:
print(df.columns)

Index(['id', 'title', 'release_date', 'revenue', 'runtime', 'adult', 'budget',
       'homepage', 'original_language', 'original_title', 'overview', 'genres',
       'production_companies', 'production_countries'],
      dtype='object')

In [7]:
df.head(2)

,id,title,release_date,revenue,runtime,adult,budget,homepage,original_language,original_title,overview,genres,production_companies,production_countries
0,27205,Inception,2010-07-15,825532764,148,False,160000000,https://www.warnerbros.com/movies/inception,en,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America"
1,157336,Interstellar,2014-11-05,701729206,169,False,165000000,http://www.interstellarmovie.net/,en,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America"

In [8]:
# Identify duplicate rows
duplicate_rows = df[df.duplicated(keep=False)]

In [9]:
# remove duplicate title
df = df.drop_duplicates(subset=['id'], keep='first')
df = df.drop_duplicates(subset=['title'], keep='first')
print(df.shape)

(1048004, 14)

In [10]:
# check columns has na values
df.isna().any()

id                      False
title                    True
release_date             True
revenue                 False
runtime                 False
adult                   False
budget                  False
homepage                 True
original_language       False
original_title           True
overview                 True
genres                   True
production_companies     True
production_countries     True
dtype: bool

In [11]:
print(df['title'].isna().sum())
print(df['release_date'].isnull().sum())
print(df['release_date'].isna().sum())

1
190946
190946

In [12]:
df = df[df['title'].notna()]
print(df.shape)

(1048003, 14)

In [13]:
df.isna().any()

id                      False
title                   False
release_date             True
revenue                 False
runtime                 False
adult                   False
budget                  False
homepage                 True
original_language       False
original_title          False
overview                 True
genres                   True
production_companies     True
production_countries     True
dtype: bool

In [14]:
df.drop(['id'], axis=1, inplace=True)

In [15]:
df.head(5)

,title,release_date,revenue,runtime,adult,budget,homepage,original_language,original_title,overview,genres,production_companies,production_countries
0,Inception,2010-07-15,825532764,148,False,160000000,https://www.warnerbros.com/movies/inception,en,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America"
1,Interstellar,2014-11-05,701729206,169,False,165000000,http://www.interstellarmovie.net/,en,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America"
2,The Dark Knight,2008-07-16,1004558444,152,False,185000000,https://www.warnerbros.com/movies/dark-knight/,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America"
3,Avatar,2009-12-15,2923706026,162,False,237000000,https://www.avatar.com/movies/avatar,en,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom"
4,The Avengers,2012-04-25,1518815515,143,False,220000000,https://www.marvel.com/movies/the-avengers,en,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure",Marvel Studios,United States of America

In [16]:
# Identify duplicate rows
duplicate_rows = df[df.duplicated(keep=False)]
duplicate_rows

Empty DataFrame
Columns: [title, release_date, revenue, runtime, adult, budget, homepage, original_language, original_title, overview, genres, production_companies, production_countries]
Index: []

In [17]:
output_path = os.path.join(current_directory, "datasets", "clean", "movie.csv")
df.to_csv(output_path, index=False)