In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D://Projects//picksy//db-loader//datasets//raw//movie.csv')
print(df.shape)

(1225978, 24)

In [3]:
print(df.columns)

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [4]:
df.drop(['vote_average', 'vote_count', 'status','backdrop_path','imdb_id', 'popularity', 'poster_path', 'tagline', 'keywords', 'spoken_languages'], axis=1, inplace=True)

In [5]:
# check:
print(df.columns)

Index(['id', 'title', 'release_date', 'revenue', 'runtime', 'adult', 'budget',
       'homepage', 'original_language', 'original_title', 'overview', 'genres',
       'production_companies', 'production_countries'],
      dtype='object')

In [6]:
df.head(2)

,id,title,release_date,revenue,runtime,adult,budget,homepage,original_language,original_title,overview,genres,production_companies,production_countries
0,27205,Inception,2010-07-15,825532764,148,False,160000000,https://www.warnerbros.com/movies/inception,en,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America"
1,157336,Interstellar,2014-11-05,701729206,169,False,165000000,http://www.interstellarmovie.net/,en,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America"

In [7]:
# Identify duplicate rows
duplicate_rows = df[df.duplicated(keep=False)]

In [8]:
# remove duplicate key
df = df.drop_duplicates(subset=['id'], keep='first')
print(df.shape)

(1225051, 14)

In [22]:
# check columns has na values
df.isna().any()

id                      False
title                    True
release_date             True
revenue                 False
runtime                 False
adult                   False
budget                  False
homepage                 True
original_language       False
original_title           True
overview                 True
genres                   True
production_companies     True
production_countries     True
dtype: bool

In [36]:
print(df['title'].isna().sum())
print(df['release_date'].isnull().sum())
print(df['release_date'].isna().sum())

0
225335
225335

In [32]:
df = df[df['title'].notna()]
print(df.shape)

(1225038, 14)

In [34]:
df.isna().any()

id                      False
title                   False
release_date             True
revenue                 False
runtime                 False
adult                   False
budget                  False
homepage                 True
original_language       False
original_title          False
overview                 True
genres                   True
production_companies     True
production_countries     True
dtype: bool